{
    // presets 执行顺序（至下往上）
    "presets": [
        [
            "@babel/preset-env",
            {
                // 启用 ES 模块语法到另一种模块类型的转换
                // "amd" | "umd" | "systemjs" | "commonjs" | "cjs" | "auto" | false，默认为"auto"
                "modules": false
            }
        ],
        [
            "@babel/preset-react",
            {
                // 当设置为 automatic 时，将自动导入（import）JSX 转换而来的函数。
                // 当设置为 classic 时，不会自动导入（import）任何东西。
                // 示例：import React from 'react'; 无需导入
                "runtime": "automatic"
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": {
                    "version": 3,
                    "proposals": true
                }
            }
        ]
    ]
}